<header id="header" class="flex justify-center items-center w-full py-5 mx-auto">
    <nav id="navbar" class="bg-[#2c2c2c] fixed w-full z-20 top-0 start-0 transition-transform duration-300 ease-in-out  backdrop-blur-lg  shadow-sm">
        <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-6 bg-gray/60">
            <div class="flex md:order-2 space-x-5 md:space-x-0 rtl:space-x-reverse">
                <a href="/public/CurriculumVitae.pdf" download
                    type="button"
                    class="text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 focus:outline-none focus:ring-purple-300 font-medium rounded-lg text-lg px-6 py-3 text-center dark:bg-purple-600 dark:hover:bg-purple-700 dark:focus:ring-purple-800 hover:scale-110 transition ease-in-out duration-300"
                >
                    Descarga mi CV
                </a>
                <button
                    data-collapse-toggle="navbar-sticky"
                    type="button"
                    class="inline-flex items-center p-3 w-12 h-12 justify-center text-lg text-gray-500 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                    aria-controls="navbar-sticky"
                    aria-expanded="false"
                >
                    <span class="sr-only">Open main menu</span>
                    <svg
                        class="w-8 h-8"
                        aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg"
                        fill="none"
                        viewBox="0 0 17 14"
                    >
                        <path
                            stroke="currentColor"
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M1 1h15M1 7h15M1 13h15"
                        />
                    </svg>
                </button>
            </div>
            <div
                class="items-center justify-between hidden w-full md:flex md:w-auto md:order-1"
                id="navbar-sticky"
            >
            <ul class="flex flex-col p-4 md:p-0 mt-4 font-medium rounded-lg md:space-x-10 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 md:bg-transparent bg-transparent md:dark:bg-transparent dark:border-gray-700">
                <li>
                    <a
                        href="#"
                        class="block py-3 px-4 text-purple-500 text-lg md:text-2xl rounded-sm md:p-0 md:dark:text-purple-500 relative overflow-hidden group"
                    >
                        Inicio
                        <span class="absolute inset-x-0 bottom-0 h-[2px] bg-purple-500 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-center"></span>
                    </a>
                </li>
                <li>
                    <a
                        href="#sobre-mi"
                        class="block py-3 px-4 text-gray-900 text-lg md:text-2xl rounded-sm hover:text-purple-500 md:hover:text-purple-500 md:p-0 md:dark:hover:text-purple-500 dark:text-white dark:hover:text-purple-500 relative overflow-hidden group"
                    >
                        Contacto
                        <span class="absolute inset-x-0 bottom-0 h-[2px] bg-purple-500 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-center"></span>
                    </a>
                </li>
                <li>
                    <a
                        href="#experiencia"
                        class="block py-3 px-4 text-gray-900 text-lg md:text-2xl rounded-sm hover:text-purple-500 md:hover:text-purple-500 md:p-0 md:dark:hover:text-purple-500 dark:text-white dark:hover:text-purple-500 relative overflow-hidden group"
                    >
                        Experiencia
                        <span class="absolute inset-x-0 bottom-0 h-[2px] bg-purple-500 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-center"></span>
                    </a>
                </li>
                <li>
                    <a
                        href="#proyectos"
                        class="block py-3 px-4 text-gray-900 text-lg md:text-2xl rounded-sm hover:text-purple-500 md:hover:text-purple-500 md:p-0 md:dark:hover:text-purple-500 dark:text-white dark:hover:text-purple-500 relative overflow-hidden group"
                    >
                        Proyectos
                        <span class="absolute inset-x-0 bottom-0 h-[2px] bg-purple-500 scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-center"></span>
                    </a>
                </li>
            </div>
        </div>
    </nav>
    <script src="/src/scripts/navbar.js" defer></script>
</header>
